<%= content_for (:title) do %>
TideData.com &copy; - High and Low Tide times for beaches and rivers in the U.S.
<% end %>

<h1 id="topheading">Select a state:</h1>
<br />
<br />
<br />
<div id="container">
  <br />
  <table id="westcoast">
    <tr>
      <th class="west">West Coast</th>
    </tr>
    <tr>
      <td class="west">
        <a href="Washington/SelectRegion.php">Washington</a>
      </td>
    </tr>
    <tr>
      <td class="west">
        <a href="Oregon/SelectRegion.php">Oregon</a>
      </td>
    </tr>
    <tr>
      <td class="west">
        <a href="California/SelectRegion.php">California</a>
      </td>
    </tr>
  </table>
  <table id="gulfcoast">
    <tr>
      <th class="gulf">Gulf Coast</th>
    </tr>
    <tr>
      <td class="gulf">
        <a href="Florida/SelectRegion.php">Florida</a>
      </td>
    </tr>

    <tr>
      <td class="gulf">
        <a href="Alabama/SelectRegion.php">Alabama</a>
      </td>
    </tr>

    <tr>
      <td class="gulf">
        <a href="Mississippi/SelectRegion.php">Mississippi</a>
      </td>
    </tr>

    <tr>
      <td class="gulf">
        <a href="Louisiana/SelectRegion.php">Louisiana</a>
      </td>
    </tr>

    <tr>
      <td class="gulf">
        <a href="Texas/SelectRegion.php">Texas</a>
      </td>
    </tr>
  </table>
  <table id="eastcoast">
    <tr>
      <th class="east" colspan="2">East Coast</th>
    </tr>
    <tr>
      <td class="east">
        <a href="Maine/SelectRegion.php">Maine</a>
      </td>
      <td class="east">
        <a href="Delaware/SelectRegion.php">Delaware</a>
      </td>
    </tr>
    <tr>
      <td class="east">
        <a href="New Hampshire/SelectRegion.php">New Hampshire</a>
      </td>
      <td class="east">
        <a href="Virginia/SelectRegion.php">Virginia</a>
      </td>
    </tr>
    <tr>
      <td class="east">
        <a href="Massachusetts/SelectRegion.php">Massachusetts</a>
      </td>
      <td class="east">
        <a href="North Carolina/SelectRegion.php">North Carolina</a>
      </td>
    </tr>
    <tr>
      <td class="east">
        <a href="Connecticut/SelectRegion.php">Connecticut</a>
      </td>
      <td class="east">
        <a href="South Carolina/SelectRegion.php">South Carolina</a>
      </td>
    </tr>
    <tr>
      <td class="east">
        <a href="New York/SelectRegion.php">New York</a>
      </td>
      <td class="east">
        <a href="Georgia/SelectRegion.php">Georgia</a>
      </td>
    </tr>
    <tr>
      <td class="east">
        <a href="New Jersey/SelectRegion.php">New Jersey</a>
      </td>
      <td class="east">
        <a href="Florida/SelectRegion.php">Florida</a>
      </td>
    </tr>
    <tr>
      <td class="east">
        <a href="Maryland/SelectRegion.php">Maryland</a>
      </td>
    </tr>
  </table>
</div>
<br />
<h1 id="bottomheading">
  TideData.com&nbsp;&copy;2013
</h1>


