<%= content_for (:title) do %>

<% end %>

<h1 id="topheading">Basics of Coastal Tides</h1>

<h2>Definitions:</h2>

<dl>
  <dt>High Tide</dt>
  <dd>Same as high water. The maximum height reached by a rising tide. The high tide is due to the periodic tidal forces and the effects of meteorological, hydrological, and/or oceanographic conditions.</dd>

  <dt>Low Tide</dt>
  <dd>Same as low water. The minimum height reached by a falling tide. The low tide is due to the periodic tidal forces and the effects of meteorological, hydrological, and/or oceanographic conditions.</dd>
</dl>

<h1 id="bottomheading">
  <a href="http://www.TideData.com/" id="home_link">TideData.com&copy;</a>
</h1>
