// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  position: relative;
  letter-spacing: 10px;
  word-spacing: 14px;
  top: -20px;
}

p.capitalize {
  text-transform: capitalize;
  line-height: 40%;
  font-size: 1.05em;
}

#container {
  position: relative;
  top: -45px;
  left: 7px;
}

#locationColumns {
  margin-left: auto;
  margin-right: auto;
}

table, td, th {
  border-collapse: collapse;
  text-align: center;
  //border: 1px solid black;
}

.column {
  float: left;
  padding: 20px;
  width: 100%;
  /*width: 25%*/
  /*width: 33%*/
  /*width: 50%*/
}

select {
  font-size:1.5em
}

.center {
  margin-left:auto;
  margin-right:auto;
  //background-color:#b0e0e6;
}

#note {
  margin-left:auto;
  margin-right:auto;
  width:30%;
  font-size:70%;
  //font-weight:bolder;
  //color:red;
}

#SelectedLocation {
  text-transform:capitalize;
  line-height:40%;
    font-size:1.20em;
}

h1,h2,form {
  text-align:center;
}

table {
  border-collapse:collapse;
  //border-style:solid;
  text-align:center;
}

th {
  font-size:160%;
  font-family:"Arial";
}

td {
  //border-style:solid;
  text-align:right;
  font-family:"Arial";
  font-weight:bold;
  font-size:120%;
}

td.left {
  text-align:right;
}

td.right {
  text-align:left;
  padding-left:20px;
  width:67%;
}
