// Place all the styles related to the Regions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.index {
  position: relative;
  letter-spacing: 10px;
  word-spacing: 14px;
  top: -20px;
}

#regions_index.container {
  position: relative;
  top: -45px;
}

table.regions_index {
  float: left;
}

#tableleft {
  margin-left: 18%;
  margin-right: 7%;
}

th.regions_index {
  font-family: "Broadway";
  font-size: 1.50em;
  letter-spacing: 2px;
}

td.regions_index {
  padding-top: 8px;
  font-size: 1.30em;
  font-weight: bold;
}

a {
  text-decoration: none;
}
