p.capitalize {
  text-transform: capitalize;
  line-height: 40%;
  font-size: 1.05em;
}

#stations_index.container {
  position: relative;
  top: -45px;
  left: 7px;
}

#stationColumns {
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
}

/* Locations#show */

h1#stations_show, form {
  text-align: center;
}

#SelectedLocation {
  text-transform: capitalize;
  line-height: 40%;
  font-size: 1.20em;
}

select {
  font-size: 1.5em
}

table#tides.center {
  float: none;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table#tides tr th {
  font-size: 160%;
  font-family: "Arial";
}

table#tides tr td {
  font-size: 120%;
  font-family: "Arial";
  font-weight: bold;
}

td.left {
  text-align: right;
}

td.right {
  text-align: left;
  padding-left: 20px;
  width: 67%;
}

#note {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  font-size: 70%;
}
