// Place all the styles related to the States controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  position: relative;
  letter-spacing: 10px;
  word-spacing: 14px;
  top: -20px;
}

#footer {
  position: relative;
  float: right;
  letter-spacing: 10px;
  word-spacing: 14px;
  bottom: -20px;
}

#states_index.container {
  position: relative;
  top: -45px;
}

td, th {
  //border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

table.states_index {
  float: left;
  border-collapse: collapse;
  text-align: center;
}

th.states_index {
  font-family: "Broadway";
  font-size: 1.50em;
  letter-spacing: 2px;
}

td.states_index {
  padding-top: 8px;
  font-size: 1.30em;
  font-weight: bold;
}

td.east {
  padding-left: 16px;
  padding-right: 16px;
}

a {
  text-decoration: none;
}

#westcoast {
  margin-left: 18%;
  margin-right: 7%;
}

#eastcoast {
  margin-left: 5%;
  margin-right: 18%;
}
