<% content_for(:keywords) do %>
  <% keywords = @state_name + ', ' + @state_name + ' State, ' + @regions_array.join(', ') %>
  <% keywords += ", tide, tide chart, tide charts, tide height, tide prediction, tide predictions, tides, tide table, surf, sail, dive" %>
  <%= tag("meta", {name: "keywords", content: "#{keywords}"}, false, false) %>
<% end %>

<h1 class="index">
  Select a region:
</h1>
<br />
<br />
<br />
<div id="regions_index" class="container">
  <br />
  <table id="tableleft" class="regions_index">
    <tr>
      <th class="left regions_index" rowspan = "5">
        <%= @state_name %>
      </th>
    </tr>
  </table>
  <table id="tablecenter" class="regions_index">
    <tr>
      <th class="regions_index">&nbsp;</th>
    </tr>
    <tr>
      <td class="regions_index">&nbsp;</td>
    </tr>
    <% @regions_array.each do |region| %>
      <tr>
        <td class="regions_index">
          <%= link_to region, "#{@state_name}/regions/#{region}" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br />
