<h1 class="index">
  Select a region:
</h1>
<br />
<br />
<br />
<div id="container">
  <br />
  <table id="tableleft">
    <tr>
      <th class="left" rowspan = "5">
        <%= @state_name %>
      </th>
    </tr>
  </table>
  <table id="tablecenter">
    <tr>
      <th class="center">&nbsp;</th>
    </tr>
    <tr>
      <td class="center">&nbsp;</td>
    </tr>
    <%# print out each region %>
    <%# use @state.regions or just @regions %>
    <%# for each region folder in the state's directory %>
    <% @regions_array.each do |region| %>
      <tr>
        <td class="center">
          <%= link_to region, "#{@state_name}/regions/#{region}" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br />
